<div class="container">
  <form [formGroup]="userform" (ngSubmit)="auht()">
    <div class="form-group">
      <label for="user">User</label>
      <input type="text" class="form-control" formControlName="user">
    </div>
    <div class="form-group">
      <label for="user">User</label>
      <input type="text" class="form-control" formControlName="password">
      <span style="color:red" *ngIf="userform.controls['user'].touched && userform.controls['user'].errors?.required"></span>
    </div>
  </form>
</div>
